#content {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    margin:0px;
    padding:0px;
    width:100%; 
    height:100%; 
} /* just to be sure these are full screen*/

#sketch {
   /* width: 2000px;
    height: 2000px; */
    width:100%; 
    height:100%;
    background-color: white;
    float:left;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
    cursor: crosshair;
}

#canvasInput {
  display: none;
}

/*
#toolbar{
    float: left;
    width: 40px;
    height: 100%;
    padding: 7px;
    position: fixed;
    top: 0;
    background-color: #2f2f2f;
    color: white;
    z-index: 1;
}*/
/*
#title{
    float: left;
    position: fixed;
    top: 300px;
    padding: 8px;
}
*/
/*
#clear{
    -webkit-transition-duration: 0.4s; /* Safari */
/*    transition-duration: 0.4s;
    float: left;
    position: fixed;
    top: 215px;
    height: 20px;
    width: 20px;
    padding: 5px;
    cursor: pointer;
    background-image: url(imgs/clearicon.png);
}

#clear:hover{
    border-radius: 8px;
    background-color: #818181;
    cursor: pointer;
    color: black;
}
*/